body{
   background-color:  rgba(116, 255, 47, 0.659);
   font-size: larger;
  
}
p{
    text-align: justify;
    
}
.img{
        width: 500px;
        height: 300px;
    
    }
    a{
        color: green;
    }
    a:hover{
        color: rgb(4, 54, 4);
    }
